:root {
  --background: #596a78;
  --background-variant: #a8b4b5;
  --detailing: #282828;
  --detailing-variant: black;
  --error: Red;
  --primary-text: white;
  --secondary-text: black;
  --base-spacing: 8px;
  --primary-border: solid var(--detailing) 3px;
  --secondary-border: solid var(--detailing-variant) 3px;
}

body {
  font-family: "Underdog", cursive;
}

h1 {
  background: var(--primary);

  /* margin: calc(var(--base-spacing)* 20) */
}

footer {
  border-top: var(--detailing-variant);
  border-top: var(--background);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fas {
  font-size: 40px;
}

nav .fas {
  margin: var(--base-spacing);

  /* transform: translateX(80vw) */
  transform: translateX(calc(100vw - var(--base-spacing) * 10));
}

nav .is-hidden {
  min-height: 72px;
  font-size: 0;
  height: 0;
}

.hero {
  background: url(https://picsum.photos/800/120);
  background-size: cover;
  height: 20vh;
  max-height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin: 0;
}
img {
  border-radius: 50%;
  box-shadow: calc(var(--base-spacing) * 0.5);
}

ul {
  padding: 0;
  text-align: center;
  list-style-type: none;
}
nav ul {
  list-style-type: none;
  text-align: center;
}
nav li {
  padding: var(--base-spacing) 0;
}

section {
  padding: calc(var(--base-spacing) * 3);
}

footer ul {
  display: flex;
  justify-content: space-between;
}

footer a {
  color: var(--primary-text);
}

.hero a {
  background-color: var(--detailing);
  border-radius: var(--base-spacing);
  padding: var(--base-spacing);
  color: var(--primary-text);
  text-decoration: none;
}

.read-more-btn {
  background: var(--primary-text);
  padding: var(--base-spacing);
  border-radius: var(--base-spacing);
  margin: var(--base-spacing);
}
