:root {
  --primary: #6200ee;
  --primary-variant: #3700b3;
  --secondary:#03DAC6;
  --secondary-variant: #018786;

}
h1 {
--background: var(--primary);
}

body {
  font-family: 'Underdog', cursive;
}
