:root {
  --background: #596a78;
  --background-variant: #a8b4b5;
  --detailing: #282828;
  --detailing-variant: black;
  --error: Red;
  --primary-text: white;
  --secondary-text: black;
  --base-spacing: 8px;
  --primary-border: solid var(--detailing) 3px;
  --secondary-border: solid var(--detailing-variant) 3px;
}

body {
  font-family: "Underdog", cursive;
}
a {
  text-decoration: none;
}
h1 {
  background: var(--primary);

  /* margin: calc(var(--base-spacing)* 20) */
}

footer {
  border-top: var(--detailing-variant);
  border-top: var(--background);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* nav {
  max-height: none;
} */
.fas {
  font-size: 40px;
}

nav .fas {
  margin: var(--base-spacing);

  /* transform: translateX(80vw) */
  transform: translateX(calc(100vw - var(--base-spacing) * 10));
}

.is-hidden--mobile {
  min-height: 72px;
  font-size: 0;
  height: 0;
}

.hero {
  background: url(https://picsum.photos/800/120);
  background-size: cover;
  height: 20vh;
  max-height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin: 0;
}
img {
  border-radius: 50%;
  box-shadow: calc(var(--base-spacing) * 0.5);
}

ul {
  padding: 0;
  text-align: center;
  list-style-type: none;
}
nav ul {
  list-style-type: none;
  text-align: center;
  text-decoration: none;
}
nav li {
  display: flex;
  justify-content: space-around;
}
footer ul {
  display: flex;
  justify-content: space-between;
}

footer a {
  color: var(--primary-text);
}

.hero a {
  background-color: var(--detailing);
  border-radius: var(--base-spacing);
  padding: var(--base-spacing);
  color: var(--primary-text);
  text-decoration: none;
}
section {
  padding: calc(var(--base-spacing) * 3);
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
}
input,
textarea {
  border: solid thin black;
}
form div {
  display: flex;
  flex-direction: column;
  margin: var(--base-spacing)
}

@media screen and (min-width: 768px) {
  h2 {
    background: var(--background-variant);
    display: flex;
    text-align: center;
  }
  .is-hidden--tablet {
    font-size: 0;
    height: 0;
  }
}
@media screen and (min-width: 1068px) {
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  div.hero {
    height: 20vh;
    max-height: 600px;
  }
  .is-hidden--desktop {
    font-size: 0;
    height: 0;
  }
  .is-shown--desktop {
    min-height: 100px;
    font-size: initial;
  }
  nav ul {
    display: flex;
    justify-content: space-around;
  }
  .flex-container--desktop {
    display: flex;
  }
}
section p {
  margin-bottom: auto;
}
.read-more-btn {
  background: var(--primary-text);
  padding: var(--base-spacing);
  border-radius: var(--base-spacing);
  margin: var(--base-spacing);
  align-items: center;
  max-width: calc(var(--base-spacing) * 15);
}
